PORT=5000
MONGO_URI=mongodb://localhost:27017/ireserve
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:5173
BOOKING_BUFFER_MINUTES=0

BREVO_API_KEY=your_brevo_api_key
MAIL_FROM=you@example.com

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloud_key
CLOUDINARY_API_SECRET=your_cloud_secret

PAYMONGO_SECRET_KEY=your_paymongo_secret
PAYMONGO_WEBHOOK_SECRET=your_paymongo_webhook_secret
